/* Navbar starts */
.navbar {
    background-color: #B3C7D6FF;
    height: 60px;
    margin: 20px;
    border-radius: 12px;
    padding: 4px 12px;
}

.navbar-brand {
    font-family: 'Trebuchet MS';
    font-weight: 500 !important;
    color: #2460A7FF !important;
    font-size: 20px !important;
    transition: 0.3s color !important;
}

.navbar-brand:hover {
    color: #D9B48FFF !important;
}

.login-button {
    background-color: #85B3D1FF;
    color: #fff;
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: none !important;
}

.login-button:hover {
    background-color: #D9B48FFF;
}

.navbar-toggler {
    border: none !important;
    font-size: 16px;
    padding: 6px 8px;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none !important;
}

.nav-link {
    color: #666777 !important;
    font-weight: 500;
    font-size: 14px !important;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000 !important;
}

.nav-link {
    position: relative;
    display: inline-block;
}

.navbar .container h3 {
    font-size: 45px;
    color: #E2F1E7;
    margin: 0;
}

.navbar .container p {
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
    line-height: 1.5;
    margin: 0;
}

/* Home section */
#home {
    background: url('https://static.vecteezy.com/system/resources/previews/023/835/692/original/characters-riding-motorcycles-and-scooters-motorbike-riders-men-and-women-driving-motorcycles-delivery-man-on-scooter-set-vector.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#home .container {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.container h3 {
    font-size: 45px;
    color: #E2F1E7;
    font-family: "Lucida Calligraphy", cursive;
    margin: 0;
}

.container p {
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
    line-height: 1.5;
    margin: 0;
}

.offcanvas.offcanvas-end {
    width: 250px !important;
}

.offcanvas-title {
    color: #387478;
}

@media (max-width: 768px) {
    #home h3 {
        font-size: 30px;
    }

    #home p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #home h3 {
        font-size: 25px;
    }

    #home p {
        font-size: 14px;
    }
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #387478;
        visibility: hidden;
        transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}