/* Optional Background image */
body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/441/510/non_2x/abstract-white-and-gray-gradient-background-with-geometric-shape-illustration-vector.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


/* Header/Navbar Section */
.navbar {
    background-color: #B3C7D6FF;
    height: 60px;
    margin: 20px;
    border-radius: 12px;
    padding: 4px 12px;
}

.navbar-brand {
    font-family: 'Trebuchet MS';
    font-weight: 500 !important;
    color: #2460A7FF !important;
    font-size: 20px !important;
    transition: 0.5s color !important;
}

.navbar-brand:hover {
    color: #D9B48FFF !important;
}

.login-button {
    background-color: #85B3D1FF;
    color: #fff;
    font-size: 12px;
    padding: 6px 16px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: none !important;
}

.login-button:hover {
    background-color: #D9B48FFF;
}

.navbar-toggler {
    border: none !important;
    font-size: 16px;
    padding: 6px 8px;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none !important;
}

.nav-link {
    color: #666777 !important;
    font-weight: 500;
    font-size: 14px !important;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000 !important;
}

.nav-link {
    position: relative;
    display: inline-block;
}

.navbar .container h3 {
    font-size: 45px;
    color: #E2F1E7;
    margin: 0;
}

.navbar .container p {
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
    line-height: 1.5;
    margin: 0;
}

/* Home section */
#home {
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#home .container {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.container h3 {
    font-size: 45px;
    color: #85B3D1FF;
    font-family: 'Trebuchet MS';
    margin: 0;
}

.container p {
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
    line-height: 1.5;
    margin: 0;
}

.offcanvas.offcanvas-end {
    width: 250px !important;
}

.offcanvas-title {
    color: #85B3D1FF;
}

@media (max-width: 768px) {
    #home h3 {
        font-size: 30px;
    }

    #home p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    #home h3 {
        font-size: 25px;
    }

    #home p {
        font-size: 14px;
    }
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #85B3D1FF;
        visibility: hidden;
        transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* Modal Signin starts */
#modalSignin .btn-primary,
#modalSignup .btn-primary {
    background-color: #85B3D1FF !important;
    border-color: #85B3D1FF !important;
}

#modalSignin .btn-primary:hover,
#modalSignup .btn-primary:hover {
    background-color: #2460A7FF !important;
    border-color: #2460A7FF !important;
}

#modalSignin .btn-outline-secondary,
#modalSignup .btn-outline-secondary,
#modalSignin .btn-outline-primary,
#modalSignup .btn-outline-primary {
    color: #85B3D1FF !important;
    border-color: #85B3D1FF !important;
}

#modalSignin .form-control,
#modalSignup .form-control {
    font-size: 12px;
    padding: 8px;
    height: auto;
}

#modalSignin label,
#modalSignup label {
    font-size: 12px;
}

#modalSignin .btn,
#modalSignup .btn {
    font-size: 12px;
    padding: 8px 16px;
}

#modalSignin .form-check-label,
#modalSignup .form-check-label {
    font-size: 12px;
}

#modalSignin .btn-outline-secondary:hover,
#modalSignin .btn-outline-primary:hover {
    background-color: #2460A7FF;
    color: #000;
}

/* modal for signup */
#modalSignup .modal-header,
#modalSignup .modal-body {
    padding: 32px;
}

/* about us section */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading1 {
    text-align: center;
    padding-top: 95px;
    font-size: 30px;
    color: #2460A7FF;
    font-weight: bold;
    border-bottom: 2px solid #2460A7FF;
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.heading p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}

#about-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
    padding-top: -50px;
}

.about-image img {
    max-width: 85%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
    font-family: 'Lucida Sans';
}

.about-content p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    text-align: justify;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    background-color: #85B3D1FF;
    font-family: 'Lucida Sans';
}

.about-content .read-more:hover {
    background-color: #2460A7FF;
}

@media screen and (max-width: 768px) {
    .heading {
        padding: 0px 10px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .box-container {
        padding: 0px;
    }

    #about-id {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        width: 250px;
        height: 150px;
        margin-right: 0px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0%;
    }

    .about-content p {
        padding: 0px;
        font-size: 16px;
    }

    .about-content .read-more {
        font-size: 16px;
    }
}

html {
    scroll-behavior: smooth;
}

.scroll-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.scroll-link:hover {
    background-color: #005f7f;
}

.merchandise h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.merchandise .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.merchandise .box {
    width: 300px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.merchandise .box img {
    width: 80px;
    transition: transform 0.3s ease;
}

.merchandise .box img:hover {
    transform: scale(1.2);
}